
.idea/other.xml

.idea/modules.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/GeonamesPy.iml

.idea/encodings.xml

.idea/.name

.idea/misc.xml

.idea/scopes/scope_settings.xml

.idea/testrunner.xml

.idea/vcs.xml

.idea/workspace.xml

Geonames.pyc
